{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Quoter{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'quotes:create' %}">Create</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>