{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Quoter{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin/">Admin</a></li>
            <li>
            {% if user.is_authenticated %}
                <a href="/users/logout/">Logout</a>
            {% else %}
                <a href="/users/login/">Login</a>
                <a href="/users/register/">Register</a>
            {% endif %}
            </li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>