{% extends 'base.html' %}
{% block content %}
    Detail page for quote {{ quote.id }}

    <h3><a href="{% url 'users:profile' username=quote.author %}">{{ quote.author }}</a></h3>
    <h3>{{ quote.pub_date }}</h3>
    <p>{{ quote.content }}</p>

    {% if delete_perm %}
        <form method="GET" action="{% url 'quotes:delete' quote_id=quote.id%}">
            <input type="submit" name="Delete" value="Delete Quote">
        </form>
    {% endif %}
    
    {% if form %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="Comment" value="Comment">
        </form>
    {% endif %}

    {% for comment in comments %}
        <h4>{{ comment.author }}</h4>
        <h4>{{ comment.pub_date }}</h4>
        <p>{{ comment.content }}</p>
    {% endfor %}

{% endblock %}