{% extends 'base.html' %}
{% block content %}
    <strong>{{ profile_username }}</strong>
    
    {% for field, value in info %}
        {% if value %}
        <p>{{ field }} : {{ value }}</p>
        
        {% else %}
        <p>{{ field }} : No value</p>
        {% endif %}

    {% endfor %}
    
    {% if can_edit %}
        <a href="{% url 'users:edit' %}">Edit Profile!</a>
        <br>
    {% endif %}

    <a href="{% url 'users:followers' username=profile_username %}">Followers</a>
    <br>
    <a href="{% url 'users:following' username=profile_username %}">Following</a>
{% endblock %}